In [37]:
import pandas as pd 
import numpy as np

In [38]:
df = pd.read_csv('Dong_Data_all.csv')
df.head()

C:\Users\vince\AppData\Local\Temp\ipykernel_22748\450202286.py:1: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Dong_Data_all.csv')

,Unnamed: 0,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
0,0,FC,2022-07-05,101.8,-2.07,5.28,"Varsho, Daulton",662139,666808,home_run,...,2,2,6,6,2,Standard,Standard,232.0,0.114,2.543
1,1,FF,2022-08-13,101.2,-1.07,6.07,"Muncy, Max",571970,672578,home_run,...,2,10,2,10,2,Infield shift,Standard,215.0,-0.027,1.835
2,2,FF,2022-04-10,101.0,-2.28,5.89,"Olson, Matt",621566,668881,home_run,...,6,6,3,3,6,Infield shift,Standard,216.0,0.057,0.985
3,3,FF,2022-05-12,100.6,-2.48,4.73,"Soto, Juan",665742,621242,home_run,...,4,4,1,1,4,Strategic,Standard,228.0,0.004,1.015
4,4,FF,2022-04-09,100.5,-1.44,5.10,"Buxton, Byron",621439,662253,home_run,...,2,2,3,3,2,Standard,Standard,234.0,0.476,1.587

In [39]:
# df = df[['game_date','player_name','home_team','batter','pitcher','plate_z','hc_x','hc_y','hit_distance_sc','launch_angle']]
# df.head()

In [40]:
df['spray_angle'] = np.tan((df['hc_x']-128)/(208-df['hc_y']))*180/np.pi*0.75

def spray_angle_cleanse(x):
    if x > 60:
        return 60
    if x < -60:
        return -60
    else:
        return x

df['spray_angle'] = df['spray_angle'].apply(lambda x: spray_angle_cleanse(x),1)
df.head()

,Unnamed: 0,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,...,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp,spray_angle
0,0,FC,2022-07-05,101.8,-2.07,5.28,"Varsho, Daulton",662139,666808,home_run,...,2,6,6,2,Standard,Standard,232.0,0.114,2.543,16.050579
1,1,FF,2022-08-13,101.2,-1.07,6.07,"Muncy, Max",571970,672578,home_run,...,10,2,10,2,Infield shift,Standard,215.0,-0.027,1.835,20.166747
2,2,FF,2022-04-10,101.0,-2.28,5.89,"Olson, Matt",621566,668881,home_run,...,6,3,3,6,Infield shift,Standard,216.0,0.057,0.985,-4.065462
3,3,FF,2022-05-12,100.6,-2.48,4.73,"Soto, Juan",665742,621242,home_run,...,4,1,1,4,Strategic,Standard,228.0,0.004,1.015,7.402118
4,4,FF,2022-04-09,100.5,-1.44,5.10,"Buxton, Byron",621439,662253,home_run,...,2,3,3,2,Standard,Standard,234.0,0.476,1.587,-37.405066

In [41]:
# def section_cond(x):
#     if x <= -48:
#         return 1
#     elif x >= -47 & x <= -34:
#         return 2
#     elif x >= -33 & x <= -21:
#         return 3
#     elif x >= -20 & x <= -7:
#         return 4
#     elif x >= -6 & x <= 6:
#         return 5
#     elif x >= 7 & x <= 20:
#         return 6
#     elif x >= 21 & x <= 33:
#         return 7
#     elif x >= 34 & x <= 47:
#         return 8
#     else:
#         return 9

# df['section'] = df['spray_angle'].apply(lambda x: section_cond(x), 1)

In [42]:
conditions = [
    (df['spray_angle']<=-46.666),
    (df['spray_angle']<=-33.333) & (df['spray_angle']>-46.666),
    (df['spray_angle']<=-20.000) & (df['spray_angle']>-33.333),
    (df['spray_angle']<=-6.666) & (df['spray_angle']>-20.000),
    (df['spray_angle']<=6.666) & (df['spray_angle']>-6.666),
    (df['spray_angle']<=20.000) & (df['spray_angle']>6.666),
    (df['spray_angle']<=33.333) & (df['spray_angle']>20.000),
    (df['spray_angle']<=46.666) & (df['spray_angle']>33.333),
    (df['spray_angle']>46.666)]

values = [1,2,3,4,5,6,7,8,9]
df['section'] = np.select(conditions,values)
df.head()

,Unnamed: 0,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,...,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp,spray_angle,section
0,0,FC,2022-07-05,101.8,-2.07,5.28,"Varsho, Daulton",662139,666808,home_run,...,6,6,2,Standard,Standard,232.0,0.114,2.543,16.050579,6
1,1,FF,2022-08-13,101.2,-1.07,6.07,"Muncy, Max",571970,672578,home_run,...,2,10,2,Infield shift,Standard,215.0,-0.027,1.835,20.166747,7
2,2,FF,2022-04-10,101.0,-2.28,5.89,"Olson, Matt",621566,668881,home_run,...,3,3,6,Infield shift,Standard,216.0,0.057,0.985,-4.065462,5
3,3,FF,2022-05-12,100.6,-2.48,4.73,"Soto, Juan",665742,621242,home_run,...,1,1,4,Strategic,Standard,228.0,0.004,1.015,7.402118,6
4,4,FF,2022-04-09,100.5,-1.44,5.10,"Buxton, Byron",621439,662253,home_run,...,3,3,2,Standard,Standard,234.0,0.476,1.587,-37.405066,2

In [43]:
alt = pd.read_csv('Altitude_adj.csv')
alt.head()

  Team  Ft above Sea Level  Adj Percent
0  PHI                   9          0.0
1  SEA                  10          0.0
2   SD                  13          0.0
3  MIA                  15          0.0
4  BOS                  20          0.0

In [44]:
df2 = pd.merge(df,alt,left_on="home_team",right_on="Team")
df2.head()

,Unnamed: 0,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,...,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp,spray_angle,section,Team,Ft above Sea Level,Adj Percent
0,0,FC,2022-07-05,101.8,-2.07,5.28,"Varsho, Daulton",662139,666808,home_run,...,Standard,Standard,232.0,0.114,2.543,16.050579,6,AZ,1082,-0.02
1,37,FF,2022-05-30,99.1,-2.16,5.59,"Smith, Pavin",656976,675911,home_run,...,Standard,Standard,207.0,0.261,2.446,33.677651,8,AZ,1082,-0.02
2,70,FF,2022-04-10,98.4,-1.37,6.17,"Walker, Christian",572233,663158,home_run,...,Strategic,Standard,215.0,0.002,0.975,-16.638460,4,AZ,1082,-0.02
3,72,FF,2022-07-22,98.4,-1.88,5.91,"Varsho, Daulton",662139,607179,home_run,...,Infield shift,Standard,207.0,0.012,0.948,NaN,0,AZ,1082,-0.02
4,92,FF,2022-04-12,98.1,-1.21,5.81,"Walker, Christian",572233,650556,home_run,...,Standard,Standard,213.0,0.194,1.000,-46.960624,1,AZ,1082,-0.02

In [46]:
df2['adj_hit_distance'] = df2['hit_distance_sc']+(df2['hit_distance_sc']*df2['Adj Percent'])
df2.head()

,Unnamed: 0,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,...,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp,spray_angle,section,Team,Ft above Sea Level,Adj Percent,adj_hit_distance
0,0,FC,2022-07-05,101.8,-2.07,5.28,"Varsho, Daulton",662139,666808,home_run,...,Standard,232.0,0.114,2.543,16.050579,6,AZ,1082,-0.02,399.84
1,37,FF,2022-05-30,99.1,-2.16,5.59,"Smith, Pavin",656976,675911,home_run,...,Standard,207.0,0.261,2.446,33.677651,8,AZ,1082,-0.02,408.66
2,70,FF,2022-04-10,98.4,-1.37,6.17,"Walker, Christian",572233,663158,home_run,...,Standard,215.0,0.002,0.975,-16.638460,4,AZ,1082,-0.02,424.34
3,72,FF,2022-07-22,98.4,-1.88,5.91,"Varsho, Daulton",662139,607179,home_run,...,Standard,207.0,0.012,0.948,NaN,0,AZ,1082,-0.02,441.98
4,92,FF,2022-04-12,98.1,-1.21,5.81,"Walker, Christian",572233,650556,home_run,...,Standard,213.0,0.194,1.000,-46.960624,1,AZ,1082,-0.02,399.84

In [47]:
df2['V'] = np.sqrt(df2['adj_hit_distance']/((np.sin(2*df2['launch_angle']*np.pi/180))/32.174))
df2.head()

,Unnamed: 0,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,...,spin_axis,delta_home_win_exp,delta_run_exp,spray_angle,section,Team,Ft above Sea Level,Adj Percent,adj_hit_distance,V
0,0,FC,2022-07-05,101.8,-2.07,5.28,"Varsho, Daulton",662139,666808,home_run,...,232.0,0.114,2.543,16.050579,6,AZ,1082,-0.02,399.84,121.879407
1,37,FF,2022-05-30,99.1,-2.16,5.59,"Smith, Pavin",656976,675911,home_run,...,207.0,0.261,2.446,33.677651,8,AZ,1082,-0.02,408.66,119.968855
2,70,FF,2022-04-10,98.4,-1.37,6.17,"Walker, Christian",572233,663158,home_run,...,215.0,0.002,0.975,-16.638460,4,AZ,1082,-0.02,424.34,124.348930
3,72,FF,2022-07-22,98.4,-1.88,5.91,"Varsho, Daulton",662139,607179,home_run,...,207.0,0.012,0.948,NaN,0,AZ,1082,-0.02,441.98,125.783520
4,92,FF,2022-04-12,98.1,-1.21,5.81,"Walker, Christian",572233,650556,home_run,...,213.0,0.194,1.000,-46.960624,1,AZ,1082,-0.02,399.84,127.770200

In [48]:
df2['Vox'] = np.cos(df2['launch_angle']/180*np.pi)*df2['V']
df2.head()

,Unnamed: 0,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,...,delta_home_win_exp,delta_run_exp,spray_angle,section,Team,Ft above Sea Level,Adj Percent,adj_hit_distance,V,Vox
0,0,FC,2022-07-05,101.8,-2.07,5.28,"Varsho, Daulton",662139,666808,home_run,...,0.114,2.543,16.050579,6,AZ,1082,-0.02,399.84,121.879407,105.550663
1,37,FF,2022-05-30,99.1,-2.16,5.59,"Smith, Pavin",656976,675911,home_run,...,0.261,2.446,33.677651,8,AZ,1082,-0.02,408.66,119.968855,100.614348
2,70,FF,2022-04-10,98.4,-1.37,6.17,"Walker, Christian",572233,663158,home_run,...,0.002,0.975,-16.638460,4,AZ,1082,-0.02,424.34,124.348930,106.587836
3,72,FF,2022-07-22,98.4,-1.88,5.91,"Varsho, Daulton",662139,607179,home_run,...,0.012,0.948,NaN,0,AZ,1082,-0.02,441.98,125.783520,106.670475
4,92,FF,2022-04-12,98.1,-1.21,5.81,"Walker, Christian",572233,650556,home_run,...,0.194,1.000,-46.960624,1,AZ,1082,-0.02,399.84,127.770200,114.839095

In [49]:
df2['Voy'] = np.sin(df2['launch_angle']/180*np.pi)* df2['V']
df2.head()

,Unnamed: 0,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,...,delta_run_exp,spray_angle,section,Team,Ft above Sea Level,Adj Percent,adj_hit_distance,V,Vox,Voy
0,0,FC,2022-07-05,101.8,-2.07,5.28,"Varsho, Daulton",662139,666808,home_run,...,2.543,16.050579,6,AZ,1082,-0.02,399.84,121.879407,105.550663,60.939703
1,37,FF,2022-05-30,99.1,-2.16,5.59,"Smith, Pavin",656976,675911,home_run,...,2.446,33.677651,8,AZ,1082,-0.02,408.66,119.968855,100.614348,65.339721
2,70,FF,2022-04-10,98.4,-1.37,6.17,"Walker, Christian",572233,663158,home_run,...,0.975,-16.638460,4,AZ,1082,-0.02,424.34,124.348930,106.587836,64.044433
3,72,FF,2022-07-22,98.4,-1.88,5.91,"Varsho, Daulton",662139,607179,home_run,...,0.948,NaN,0,AZ,1082,-0.02,441.98,125.783520,106.670475,66.655110
4,92,FF,2022-04-12,98.1,-1.21,5.81,"Walker, Christian",572233,650556,home_run,...,1.000,-46.960624,1,AZ,1082,-0.02,399.84,127.770200,114.839095,56.010769

In [50]:
dim = pd.read_csv('park_dim.csv')
dim.head()

   Section  Distance Distance - Field  Height Height - Field
0        1       355          Wrigley      37         Fenway
1        2       371         PNC Park      37         Fenway
2        3       406      Coors Field      37         Fenway
3        4       428    Comerica Park      37         Fenway
4        5       420    Comerica Park      25          Chase

In [51]:
df3 = pd.merge(df2,dim,left_on="section",right_on="Section")
df3.head()

,Unnamed: 0,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,...,Adj Percent,adj_hit_distance,V,Vox,Voy,Section,Distance,Distance - Field,Height,Height - Field
0,0,FC,2022-07-05,101.8,-2.07,5.28,"Varsho, Daulton",662139,666808,home_run,...,-0.02,399.84,121.879407,105.550663,60.939703,6,428,Comerica Park,25,Chase
1,770,SI,2022-08-05,94.9,-2.39,5.97,"Varsho, Daulton",662139,608566,home_run,...,-0.02,414.54,126.837783,111.991115,59.546732,6,428,Comerica Park,25,Chase
2,978,SI,2022-09-13,94.4,-1.42,5.54,"Freeman, Freddie",518692,518876,home_run,...,-0.02,433.16,123.512701,103.586467,67.269838,6,428,Comerica Park,25,Chase
3,1033,FF,2022-09-03,94.3,-1.41,5.37,"Tellez, Rowdy",642133,453178,home_run,...,-0.02,419.44,126.147082,110.330724,61.157319,6,428,Comerica Park,25,Chase
4,1577,FF,2022-05-30,93.1,-2.92,6.02,"Riley, Austin",663586,668678,home_run,...,-0.02,393.96,114.830637,91.707824,69.106803,6,428,Comerica Park,25,Chase

In [52]:
df3 = df3.drop(columns=["Section","Distance - Field","Height - Field"])
df3.head()

,Unnamed: 0,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,...,section,Team,Ft above Sea Level,Adj Percent,adj_hit_distance,V,Vox,Voy,Distance,Height
0,0,FC,2022-07-05,101.8,-2.07,5.28,"Varsho, Daulton",662139,666808,home_run,...,6,AZ,1082,-0.02,399.84,121.879407,105.550663,60.939703,428,25
1,770,SI,2022-08-05,94.9,-2.39,5.97,"Varsho, Daulton",662139,608566,home_run,...,6,AZ,1082,-0.02,414.54,126.837783,111.991115,59.546732,428,25
2,978,SI,2022-09-13,94.4,-1.42,5.54,"Freeman, Freddie",518692,518876,home_run,...,6,AZ,1082,-0.02,433.16,123.512701,103.586467,67.269838,428,25
3,1033,FF,2022-09-03,94.3,-1.41,5.37,"Tellez, Rowdy",642133,453178,home_run,...,6,AZ,1082,-0.02,419.44,126.147082,110.330724,61.157319,428,25
4,1577,FF,2022-05-30,93.1,-2.92,6.02,"Riley, Austin",663586,668678,home_run,...,6,AZ,1082,-0.02,393.96,114.830637,91.707824,69.106803,428,25

In [53]:
df3['t'] = df3['Distance']/df3['Vox']
df3.head()

,Unnamed: 0,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,...,Team,Ft above Sea Level,Adj Percent,adj_hit_distance,V,Vox,Voy,Distance,Height,t
0,0,FC,2022-07-05,101.8,-2.07,5.28,"Varsho, Daulton",662139,666808,home_run,...,AZ,1082,-0.02,399.84,121.879407,105.550663,60.939703,428,25,4.054925
1,770,SI,2022-08-05,94.9,-2.39,5.97,"Varsho, Daulton",662139,608566,home_run,...,AZ,1082,-0.02,414.54,126.837783,111.991115,59.546732,428,25,3.821732
2,978,SI,2022-09-13,94.4,-1.42,5.54,"Freeman, Freddie",518692,518876,home_run,...,AZ,1082,-0.02,433.16,123.512701,103.586467,67.269838,428,25,4.131814
3,1033,FF,2022-09-03,94.3,-1.41,5.37,"Tellez, Rowdy",642133,453178,home_run,...,AZ,1082,-0.02,419.44,126.147082,110.330724,61.157319,428,25,3.879246
4,1577,FF,2022-05-30,93.1,-2.92,6.02,"Riley, Austin",663586,668678,home_run,...,AZ,1082,-0.02,393.96,114.830637,91.707824,69.106803,428,25,4.666995

In [54]:
df3['height_t'] = df3['plate_z']+(df3['Voy']*df3['t'])+0.5*(-32.174)*(df3['t']*df3['t'])
df3.head()

,Unnamed: 0,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,...,Ft above Sea Level,Adj Percent,adj_hit_distance,V,Vox,Voy,Distance,Height,t,height_t
0,0,FC,2022-07-05,101.8,-2.07,5.28,"Varsho, Daulton",662139,666808,home_run,...,1082,-0.02,399.84,121.879407,105.550663,60.939703,428,25,4.054925,-14.503218
1,770,SI,2022-08-05,94.9,-2.39,5.97,"Varsho, Daulton",662139,608566,home_run,...,1082,-0.02,414.54,126.837783,111.991115,59.546732,428,25,3.821732,-5.729189
2,978,SI,2022-09-13,94.4,-1.42,5.54,"Freeman, Freddie",518692,518876,home_run,...,1082,-0.02,433.16,123.512701,103.586467,67.269838,428,25,4.131814,5.271025
3,1033,FF,2022-09-03,94.3,-1.41,5.37,"Tellez, Rowdy",642133,453178,home_run,...,1082,-0.02,419.44,126.147082,110.330724,61.157319,428,25,3.879246,-1.751720
4,1577,FF,2022-05-30,93.1,-2.92,6.02,"Riley, Austin",663586,668678,home_run,...,1082,-0.02,393.96,114.830637,91.707824,69.106803,428,25,4.666995,-25.817345

In [55]:
df3.loc[df3['height_t'] <= df3['Height'], 'mega_dong'] = 0
df3.loc[df3['height_t'] > df3['Height'], 'mega_dong'] = 1
df3.head()

,Unnamed: 0,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,...,Adj Percent,adj_hit_distance,V,Vox,Voy,Distance,Height,t,height_t,mega_dong
0,0,FC,2022-07-05,101.8,-2.07,5.28,"Varsho, Daulton",662139,666808,home_run,...,-0.02,399.84,121.879407,105.550663,60.939703,428,25,4.054925,-14.503218,0.0
1,770,SI,2022-08-05,94.9,-2.39,5.97,"Varsho, Daulton",662139,608566,home_run,...,-0.02,414.54,126.837783,111.991115,59.546732,428,25,3.821732,-5.729189,0.0
2,978,SI,2022-09-13,94.4,-1.42,5.54,"Freeman, Freddie",518692,518876,home_run,...,-0.02,433.16,123.512701,103.586467,67.269838,428,25,4.131814,5.271025,0.0
3,1033,FF,2022-09-03,94.3,-1.41,5.37,"Tellez, Rowdy",642133,453178,home_run,...,-0.02,419.44,126.147082,110.330724,61.157319,428,25,3.879246,-1.751720,0.0
4,1577,FF,2022-05-30,93.1,-2.92,6.02,"Riley, Austin",663586,668678,home_run,...,-0.02,393.96,114.830637,91.707824,69.106803,428,25,4.666995,-25.817345,0.0

In [56]:
# df3.to_csv('python_export.csv')

In [57]:
# df_group = df3.groupby('section').agg(Sum=('mega_dong',np.sum), Total=('mega_dong','count'))
# df_group['Percentage'] = (round((df_group['Sum'] / df_group['Total'])*100,2)).astype(str)+'%'

# df_group

In [58]:
# df_group.to_csv('Dong Data - Player Sum.csv')

In [59]:
# judge_mega = df3[df3["player_name"] == "Judge, Aaron"]
# judge_mega

In [60]:
df3['bases_loaded'] = df3[['on_1b','on_2b','on_3b']].min(axis=1)

In [61]:
df3.loc[df3['bases_loaded'] >0, 'grand_slam'] = 1
df3.loc[df3['bases_loaded']==0, 'grand_slam'] = 0
df3.loc[df3['bases_loaded']=='NaN', 'grand_slam'] = 0

In [66]:
df3['spray_angle_adj'] = df3['spray_angle']/60*45

In [68]:
df3['spray_angle_adj'].max()

45.0